TODOListApplication.Web/Connected Services/AccountService/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53301/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel.Account" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel.Account" minOccurs="0" name="request" nillable="true" type="q1:RegisterRq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel.Account" minOccurs="0" name="RegisterResult" nillable="true" type="q2:RegisterRs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>