TODOListApplication.Web/Connected Services/AccountService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel.Account" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel.Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53301/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel" />
  <xs:complexType name="RegisterRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel" base="q1:BaseRq">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterRq" nillable="true" type="tns:RegisterRq" />
  <xs:complexType name="RegisterRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel" base="q2:BaseRs">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterRs" nillable="true" type="tns:RegisterRs" />
</xs:schema>