TODOListApplication.Web/Connected Services/ToDoService/ToDoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TODOListApplication.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseRq">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRq" nillable="true" type="tns:BaseRq" />
  <xs:complexType name="BaseRs">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRs" nillable="true" type="tns:BaseRs" />
</xs:schema>